<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Login' : 'Signup' }}</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-label class="set-margin-top"></ion-label>

<ion-content padding class="vertical-align-content">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" class="ion-text-center">          
        <a href="https://ibb.co/NtBtn4G">
          <img src="https://i.ibb.co/WGJGpTR/logo-re-ceipt-admin.png" alt="logo-re-ceipt-admin" border="0" />
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12">
        <ion-list>
            <ion-item>
              <ion-label position="floating">Email Address/Phone Number</ion-label>
              <ion-input 
                inputmode="email" 
                ngModel 
                name="email" 
                required 
                email 
                #emailCtrl="ngModel" 
                type="email"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched" 
              lines="none">
              <ion-label color="danger">Should be a valid email address</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input 
                type="password"
                ngModel 
                name="password" 
                required 
                #passCtrl="ngModel"
                minlength="6"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passCtrl.valid && passCtrl.touched" 
              lines="none">
              <ion-label color="danger">Empty password</ion-label>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col size-xs="12" class="ion-text-center">
          <!--<ion-button color="primary" fill="clear" (click)="onSwitchAuthMode()" expand="full">Switch to {{ isLogin ? 'Login' : 'Signup' }}</ion-button>-->
          <ion-label><small><a color="primary">Forgot Password?</a></small></ion-label>
          <ion-button shape="round" style="margin-bottom: 30px" color="primary" (click)="onLogin()" [disabled]="!f.valid" expand="block">Sign In</ion-button>
      </ion-col>
      <ion-col col size-xs="12" class="ion-text-center">
          <!--<ion-button color="primary" fill="clear" (click)="onSwitchAuthMode()" expand="full">Switch to {{ isLogin ? 'Login' : 'Signup' }}</ion-button>-->
          <ion-label ><small>Don't have an account? <a>Sign Up Free!</a></small></ion-label>
          <ion-button shape="round" color="tertiary" (click)="toSignUp()" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
  <!-- <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner> -->
</ion-content>
