<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col>
            <ion-searchbar cancel-button-icon="" id="search" showCancelButton="focus" placeholder="Cari ID Transaksi...">
              
            </ion-searchbar>
            
          </ion-col>
      </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item size="12" lines="none">
            <ion-label>Omzet Hari Ini</ion-label>
            <ion-label text-end>Rp 1.500.000,00</ion-label>
        </ion-item>
        <ion-item size="12" lines="none">
            <ion-label>Omzet Bulan Ini</ion-label>
            <ion-label text-end>Rp 20.000.000,00</ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="margin: 1%">
        <ion-item class="tanggal">
          <ion-label style="color: white">Tanggal</ion-label>
          <ion-datetime style="color: white" displayFormat="DD MMMM YYYY" placeholder="Pilih Tanggal"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-list>
            <ion-item size="4" class="list">
              <ion-label text-center class="colTitle">Date</ion-label>
              <ion-label text-center class="colTitle">ID Transaksi</ion-label>
              <ion-label text-center class="colTitle">Total</ion-label>
            </ion-item>
            <ion-item size="4" class="list">
              <ion-label text-start class="colTitle">1 Oktober 2019</ion-label>
              <ion-label text-center class="colTitle">T010802</ion-label>
              <ion-label text-end class="colTitle">Rp 62.700,00</ion-label>
            </ion-item>
            <ion-item size="4" class="list">
                <ion-label text-start class="colTitle">1 Oktober 2019</ion-label>
                <ion-label text-center class="colTitle">T010803</ion-label>
                <ion-label text-end class="colTitle">Rp 31.500,00</ion-label>
            </ion-item>
            <ion-item size="4" class="list">
              <ion-label text-start class="colTitle">1 Oktober 2019</ion-label>
              <ion-label text-center class="colTitle">T010804</ion-label>
              <ion-label text-end class="colTitle">Rp 20.000,00</ion-label>
            </ion-item>
            <ion-item size="4" class="list">
              <ion-label text-start class="colTitle">1 Oktober 2019</ion-label>
              <ion-label text-center class="colTitle">T010805</ion-label>
              <ion-label text-end class="colTitle">Rp 11.250,00</ion-label>
            </ion-item>
            <ion-item size="4" class="list" >
              <ion-label text-start class="colTitle">1 Oktober 2019</ion-label>
              <ion-label text-center class="colTitle">T010806</ion-label>
              <ion-label text-end class="colTitle">Rp 35.000,00</ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
