
ion-list, ion-label{
    font-family: 'Ubuntu' !important;
    font-size: 15px !important;
    color: #097C66 !important;
}

.label_1{
    float:left;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom:2px;
}

.label_2{
    margin-top: 0px;
    margin-bottom:0px;
    padding-bottom: 8px;
    margin-left: 10px;
    font-size: 12px !important;
    color: #000000 !important;
}

#search{
    --background: #EDEDED;
    --color: #097C66 !important;
    --icon-color: #097C66 !important;
    --clear-button-color: #097C66 !important;
    --placeholder-font-style: 'Ubuntu';
}

#thumbNail{
    width: 50px;
    height: 50px;
    border-radius: 8px !important;
    margin-bottom: 3px;
}

ion-button{
    margin: 10px;
}

.button_0{
    margin-left: 0px;
    margin-right: 0px;
    width: 25px;
    height: 25px;
    font-size: 13.5px;
    --background: #097C66;
    --color: white !important;
}

.input_0{
    width: 30px;
}

ion-searchbar{
    font-family: 'Ubuntu';
}
