<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-searchbar cancel-button-icon="" id="search" showCancelButton="focus" placeholder="Cari menu di sini..."></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
            <ion-item>
              <a  href="https://ibb.co/qp2BBNV">
                <img id="thumbNail" src="https://i.ibb.co/jDjhhys/menu-1.jpg" alt="menu-1" border="0" />
              </a>
              <ion-col>
                <ion-row>
                    <ion-label class="label_1">Nasi Goreng</ion-label>
                </ion-row>
                <ion-row>
                    <ion-label class="label_2">Rp 20.0000,00</ion-label>
                </ion-row>
              </ion-col>
              <ion-col size="5">
                  <ion-row float-right>
                    <ion-button class="button_0" (click)="decrementAmount()">
                        -
                    </ion-button>
                    <ion-input value="{{amount}}" style="width: 40px !important; margin-left:10px">
                    </ion-input>
                    <ion-button class="button_0" (click)="incrementAmount()">
                        +
                    </ion-button>
                  </ion-row>
              </ion-col>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <ion-button mode="ios" expand="block" shape="round" [routerLink]="['/home/tabs/add-to-receipt/create']" routerLinkActive="router-link-active" >Lanjutkan</ion-button>
          <!-- <ion-button margin class="ion-margin-top bold" color="primary" expand="block" shape="round" mode="ios">Show All</ion-button> -->
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
