// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #CEA737;
  --ion-color-primary-rgb: 206,167,55;
  --ion-color-primary-contrast: #FFFFFF;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #b59330;
  --ion-color-primary-tint: #d3b04b;

  /** secondary **/
  --ion-color-secondary: #034B3D;
  --ion-color-secondary-rgb: 3,75,61;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #034236;
  --ion-color-secondary-tint: #1c5d50;

  /** tertiary **/
  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 255,255,255;
  --ion-color-tertiary-contrast: #CEA737;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0e0e0;
  --ion-color-tertiary-tint: #ffffff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-background: var(--ion-color-secondary, #CEA737);
  --ion-toolbar-color: #ffffff;

  /** gold **/
  --ion-color-gold: #EFAB22;
  --ion-color-gold-rgb: 241, 179, 56;
  --ion-color-gold-contrast: #000000;
  --ion-color-gold-contrast-rgb: 0,0,0;
  --ion-color-gold-shade: #d2961e;
  --ion-color-gold-tint: #f1b338;

  /** silver **/
  --ion-color-silver: #908E91;
  --ion-color-silver-rgb: 144, 142, 145;
  --ion-color-silver-contrast: #000000;
  --ion-color-silver-contrast-rgb: 0,0,0;
  --ion-color-silver-shade: #7f7d80;
  --ion-color-silver-tint: #9b999c;

  /** bronze **/
  --ion-color-bronze: #A43E00;
  --ion-color-bronze-rgb: 164, 62, 0;
  --ion-color-bronze-contrast: #000000;
  --ion-color-bronze-contrast-rgb: 0,0,0;
  --ion-color-bronze-shade: #903700;
  --ion-color-bronze-tint: #ad511a;
}

.ion-color-gold {
  --ion-color-base: var(--ion-color-gold) !important;
  --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
  --ion-color-contrast: var(--ion-color-gold-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gold-shade) !important;
  --ion-color-tint: var(--ion-color-gold-tint) !important;
}

.ion-color-silver {
  --ion-color-base: var(--ion-color-silver) !important;
  --ion-color-base-rgb: var(--ion-color-silver-rgb) !important;
  --ion-color-contrast: var(--ion-color-silver-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-silver-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-silver-shade) !important;
  --ion-color-tint: var(--ion-color-silver-tint) !important;
}

.ion-color-bronze {
  --ion-color-base: var(--ion-color-bronze) !important;
  --ion-color-base-rgb: var(--ion-color-bronze-rgb) !important;
  --ion-color-contrast: var(--ion-color-bronze-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-bronze-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-bronze-shade) !important;
  --ion-color-tint: var(--ion-color-bronze-tint) !important;
}
