<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Setting Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-searchbar cancel-button-icon="" id="search" showCancelButton="focus" placeholder="Cari Menu Di sini..."></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item-sliding #slidingitem>
            <ion-item>
              <a  href="https://ibb.co/qp2BBNV">
                <img id="thumbNail" src="https://i.ibb.co/jDjhhys/menu-1.jpg" alt="menu-1" border="0" />
              </a>
              <ion-col>
                <ion-row>
                    <ion-label class="label_1">Nasi Goreng</ion-label>
                </ion-row>
                <ion-row>
                    <ion-label class="label_2">Rp 20.0000,00</ion-label>
                </ion-row>
              </ion-col>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="white">
                  <ion-icon name="create" slot="icon-only" (click)="onEditData()"></ion-icon>
                  <ion-icon name="trash" slot="icon-only" (click)="onDeleteData()"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-fab-button color="secondary" class="fabfloat">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
