ion-content{
    font-family: 'Ubuntu';
}

ion-list, ion-label{
    font-family: 'Ubuntu' !important;
    font-size: 15px !important;
    color: #097C66 !important;
}

ion-button{
    margin: 10px;
}

.imgLogout{
    max-width: 30px;
    max-height: 42px;
    border-radius: 0%;
}

#imgChange{
    margin-left: 10px !important;
}

.imgSmall{
    max-height: 16px;
}

#txtGanti{
    font-size: 12px;
    color: #034B3D !important;
}

#fotoProfil{
    margin-top: 30px;
}

#colRestoku{
    margin-top: 10px;
    margin-bottom: 10px;
}

#restoku{
    font-size: 38px;
    padding-top: 50px;
    color: #034B3D !important;
}

#tambahMenu{
    background-color: #CEA737 !important;
    color: #FFFFFF;
}

img{
    max-width: 100px;
}


p {
    font-family: Lato;
  }

  .profilepicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .hoverable{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    cursor: pointer;
    height: 108px;
    width: 108px;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }

  #fileInput{
    display: none;
  }