<ion-content text-center>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <img float-right class="imgLogout" id="imgLogout" src="https://i.ibb.co/3pM6q8f/logout.png" alt="logout" [routerLink]="['/', 'auth']"/>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <button *ngIf="url" (click)="delete()" >Delete Profile Picture</button>
          <label class="hoverable" for="fileInput">
            <img class="profilepicture" [src]="url ? url : 'https://i.ibb.co/88qQw0v/foto-profil.png'">
            <div class="hover-text">Choose file</div>
            <div class="background"></div>
          </label>
          <input id="fileInput" type='file' (change)="onSelectFile($event)">
          <br/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" id="colRestoku">
        <ion-text id="restoku">{{restoName}}</ion-text>
        <img class="imgSmall" id="imgChange" src="https://i.ibb.co/GFXr7H7/edit.png" alt="edit" border="0"  (click)="editRestaurantName()" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label>Omzet Hari Ini</ion-label>
      <ion-label text-end>Rp 1.500.000,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Omzet Bulan Ini</ion-label>
      <ion-label text-end>Rp 1.500.000,00</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Transaksi Hari Ini</ion-label>
      <ion-label text-end>45x</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Transaksi Bulan Ini</ion-label>
      <ion-label text-end>300x</ion-label>
    </ion-item>
    <ion-item>
      <ion-col size="12" style="margin: auto !important">
          <ion-label text-center>Tambahan Biaya &nbsp;<span>
              <a href="https://imgbb.com/">
                <img class="imgSmall" src="https://i.ibb.co/SBsTKH6/add.png" alt="add" border="0" />
              </a>
          </span></ion-label>

      </ion-col>

    </ion-item>
    <ion-item>
      <ion-label>Tax</ion-label>
      <ion-label text-end style="margin-right: 20px !important;">{{tax}} %</ion-label>
      <img class="imgSmall" src="https://i.ibb.co/GFXr7H7/edit.png" alt="edit" border="0" (click)="editTax()"/>
    </ion-item>
    <ion-item>
      <ion-label>Service</ion-label>
      <ion-label text-end style="margin-right: 20px !important;">{{service}} %</ion-label>
      <img class="imgSmall" src="https://i.ibb.co/GFXr7H7/edit.png" alt="edit" border="0" (click)="editService()"/>
    </ion-item>
  </ion-list>

    <ion-button shape="round" mode="ios" expand="block" [routerLink]="['/', 'setting-item']">Setting Item</ion-button>
</ion-content>
