<ion-content text-center class="vertical-align-content">
  <ion-grid text-center style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col>
        <a href="https://ibb.co/w4zzVp5">
          <img src="https://i.ibb.co/ZxMM5cq/logo-success.png" alt="logo-success" border="0" />
        </a>
        <br>
        <ion-label color="secondary">Transaksi Sukses!</ion-label>
        <ion-button mode="ios" shape="round" expand="block" [routerLink]="['']" routerLinkActive="router-link-active" >Kembali</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
