img{
    max-width: 100px;
    margin-bottom: 5%;
}

ion-label{
    font-family: 'Ubuntu';
    font-size: 20px;
}

ion-button{
    margin-top: 15%;
}

.vertical-align-content > 
{
    
    height: 100%;
}