#fotoProfil{
    margin-top: 30px;
    max-width: 100px;
}

#colRestoku{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Ubuntu';
    font-size: 30px;
}

.colTitle{
    color: #034B3D !important;
    font-family: 'Ubuntu' !important;
    font-size: 13.5px !important;
}

ion-item{
    font-size: 11px !important;
}
