<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Create Receipt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <a href="https://imgbb.com/">
            <img id="fotoProfil" src="https://i.ibb.co/88qQw0v/foto-profil.png" alt="foto-profil" border="0" />
          </a>
      </ion-col>
    </ion-row>
    <ion-row class="colTitle">
      <ion-col size="12" id="colRestoku">
        <ion-text id="restoku" >restoku</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-list text-center style="font-size: 5px !important">
              <ion-item size="4">
                  <ion-label text-start class="colTitle">T010801</ion-label>
                  <ion-label text-center class="colTitle">1 Oktober 2019</ion-label>
                  <ion-label text-end class="colTitle">15.02 WIB</ion-label>
                </ion-item>
              <ion-item size="3" >
                <ion-label>Nasi Goreng</ion-label>
                <ion-label text-center>2</ion-label>
                <ion-label>20.000</ion-label>
                <ion-label text-end>40.000</ion-label>
              </ion-item>
              <ion-item size="3" >
                <ion-label>Mi Ayam</ion-label>
                <ion-label text-center>1</ion-label>
                <ion-label>17.000</ion-label>
                <ion-label text-end>17.000</ion-label>
              </ion-item>
              <ion-item size="3">
                <ion-label>Subtotal</ion-label>
                <ion-label></ion-label>
                <ion-label></ion-label>
                <ion-label text-end>57.000</ion-label>
              </ion-item>
              <ion-item size="3">
                <ion-label>Tax</ion-label>
                <ion-label text-center>10%</ion-label>
                <ion-label></ion-label>
                <ion-label text-end>5.700</ion-label>
              </ion-item>
              <ion-item size="3">
                <ion-label>Total</ion-label>
                <ion-label></ion-label>
                <ion-label></ion-label>
                <ion-label text-end>62.700</ion-label>
              </ion-item>
              <ion-item size="12">
                <ion-label>Pembayaran Menggunakan</ion-label>
                <ion-select ok-text="OK" cancel-text="Batal">
                  <ion-select-option value="Cash">Cash</ion-select-option>
                  <ion-select-option value="Debit BCA">Debit BCA</ion-select-option>
                  <ion-select-option value="Kredit BCA">Kredit BCA</ion-select-option>
                  <ion-select-option value="GO-PAY">GO-PAY</ion-select-option>
                  <ion-select-option value="DANA">DANA</ion-select-option>
                  <ion-select-option value="OVO">OVO</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item size="12">
                  <ion-label>Total Bayar</ion-label>
                  <ion-input text-end type="number"></ion-input>
              </ion-item>
              <ion-item size="12">
                  <ion-label>Total Struk</ion-label>
                  <ion-label text-end>62700</ion-label>
              </ion-item>
              <ion-item size="12">
                  <ion-label>Kembalian</ion-label>
                  <ion-label text-end>3000</ion-label>
              </ion-item>
            </ion-list>

            <ion-button mode="ios" expand="block" shape="round" [routerLink]="['/', 'success-receipt']">Buat Struk</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
