<ion-content >
  <ion-grid>
      <ion-row class="ion-text-center margin-top-m">
          <ion-col>
              <img class="logo" id="fotoProfil" src="https://i.ibb.co/88qQw0v/foto-profil.png" alt="foto-profil" border="0" width="100"/>
          </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
          <ion-col size="12">
              <ion-text color="secondary" class="bold">restoku</ion-text>
          </ion-col>
          <ion-col size="12">
              <ion-text color="primary" class="bold">Total points: 572.000</ion-text>
          </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
          <ion-col>
              <ion-card color="secondary" mode="ios" id="card">
                  <ion-card-header>
                      <ion-card-title class="bold">Rekapitulasi Revenue</ion-card-title>
                    
                  </ion-card-header>
                  <hr color="white">
                  <ion-card-content>
                      <ion-row>
                          <ion-col size="4">
                              <ion-avatar class="bold avatar"><img src="assets/img/beranda/day.png"></ion-avatar>
                              <ion-row>
                                  <ion-col>
                                      <ion-text style="font-size: 10px;">Rp 56.000,00</ion-text>
                                  </ion-col>
                              </ion-row>
                          </ion-col>
                          <ion-col size="4">
                              <ion-avatar class="bold avatar"><img src="assets/img/beranda/month.png"></ion-avatar>
                              <ion-row>
                                  <ion-col>
                                      <ion-text style="font-size: 9px;">Rp 3.122.500,00</ion-text>
                                  </ion-col>
                              </ion-row>
                          </ion-col>
                          <ion-col size="4">
                              <ion-avatar class="bold avatar"><img src="assets/img/beranda/year.png"></ion-avatar>
                              <ion-row>
                                  <ion-col>
                                      <ion-text style="font-size: 9px;">Rp 25.125.000,00</ion-text>
                                  </ion-col>
                              </ion-row>
                          </ion-col>
                      </ion-row>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
          <ion-col>
              <ion-card mode="ios">
                  <ion-card-header>
                      <ion-card-title class="bold" color="secondary">Menu of The Year</ion-card-title>
                  </ion-card-header>

                  <ion-card-content style="padding: 0px !important">
                      <ion-list mode="ios">
                          <ion-item style="padding-left: 0px">
                              <ion-icon style="padding-right: 16px; margin-right: 0px !important;" slot="start" name="trophy" color="gold"></ion-icon>
                              <ion-thumbnail>
                                <img style="border-radius: 5px;" src="assets/img/beranda/menu_1.jpg" alt="" >
                              </ion-thumbnail>
                              <ion-col size="8" style="padding-left: 20px;">
                                  <ion-label class="ion-text-wrap" color="secondary">Nasi Goreng</ion-label>
                              </ion-col>
                              <ion-col size="3" slot="end" style="margin-left: 0px">
                                  <ion-label class="ion-text-wrap" color="secondary" text-right>120x</ion-label>
                              </ion-col>
                          </ion-item>

                          <ion-item>
                              <ion-icon style="padding-right: 16px; margin-right: 0px !important;" slot="start" name="trophy" color="silver"></ion-icon>
                              <ion-thumbnail>
                                <img style="border-radius: 5px;" src="assets/img/beranda/menu_2.jpg" alt="" >
                              </ion-thumbnail>
                              <ion-col size="8" style="padding-left: 20px;">
                                  <ion-label class="ion-text-wrap" color="secondary">Ayam Geprek</ion-label>
                              </ion-col>
                              <ion-col size="2" slot="end" style="margin-left: 0px">
                                  <ion-label class="ion-text-wrap" color="secondary" text-right>98x</ion-label>
                              </ion-col>
                          </ion-item>

                          <ion-item>
                              <ion-icon style="padding-right: 16px; margin-right: 0px !important;"  slot="start" name="trophy" color="bronze"></ion-icon>
                              <ion-thumbnail>
                                <img style="border-radius: 5px;" src="assets/img/beranda/menu_3.jpg" alt="" >
                              </ion-thumbnail>
                              <ion-col size="8" style="padding-left: 20px;">
                                  <ion-label class="ion-text-wrap" color="secondary">Lontong</ion-label>
                              </ion-col>
                              <ion-col size="2" slot="end" style="margin-left: 0px">
                                  <ion-label class="ion-text-wrap" color="secondary" text-right>72x</ion-label>
                              </ion-col>
                          </ion-item>
                      </ion-list>

                      <ion-button margin class="ion-margin-top bold" color="primary" expand="block" shape="round" mode="ios">Show All</ion-button>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-fab-button [routerLink]="['/home/tabs/beranda/show-qr-code']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active"  color="secondary" style="float:right; margin: 15px !important">
                <img style="width: 25px" src="assets/img/beranda/qr-code.png" alt="qr-code" border="0" />
            </ion-fab-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
