.avatar{
    margin:auto;
}
#card{
    background: #1c5d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #034B3D, #1c5d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #034B3D, #1c5d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo{
    margin-top: 30px;
}